src/main/mule/demo-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fd6e9e19-e663-4da5-9988-a22bc2fdd97d" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<flow name="demo-appFlow" doc:id="2cfeda4a-7531-4d42-8649-e464c84cb08b" >
		<http:listener doc:name="Listener" doc:id="cddeaeff-a4a3-40bc-90a8-3b137a6dc6da" config-ref="HTTP_Listener_config" path="/demo" allowedMethods="GET"/>
		<set-payload value='#["Hello " ++ (attributes.queryParams.Name default "") ++ "!"]' doc:name="Set Payload" doc:id="660106a5-bf23-41b3-a037-5affce7953a2" />
	</flow>
</mule>
